$color-primary: rgb(241, 241, 64);
$color-black: black;
$color-white: white;
$color-grey: rgb(178, 179, 175);
$color-grey1: rgb(224, 221, 221);
$color-black-light: rgba(117, 115, 115, 0.829);

$btn_width: 18rem;
$btn_height:$btn_width * .2;

$btn_widthC: 5rem;
$btn_heightC:$btn_width * .2


