body {
    font-family: 'lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba($color-grey, .1);

    line-height: 2;
    font-size: 2rem;
    color: $color-grey;
    padding: 3rem;    
    
}

.heading-primary {

    color: $color-grey1;
    margin-bottom: 6rem;
    text-transform: uppercase;
    backface-visibility: hidden;
    

    &--main {
        display: block;
        font-size: 6rem;
        letter-spacing: 4rem;
        font-weight: 600;
        margin-left: 3rem;
        margin-bottom: 2rem;
        animation: moveInLeft;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 2rem;
        letter-spacing: .5rem;
        animation: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out;

    }

    &--sub1 {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 2rem;
        letter-spacing: 1rem;
        animation: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out;

    }

}

.intro {
    font-size: 1.5rem;
    color: $color-grey;
    padding: 5rem;
    line-height: 1.5;
}